.container {
    align-items: center;
    background-color: #FFF;
    border-radius: 0.475rem;
    box-shadow: 0 0 15px rgb(144, 193, 193);
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-between;
    margin-bottom: 33px;
    margin-top: -125px;
    padding: 1em;
    width: 100%;
}

.tagContainer {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-between;
}

.tag {
    display: inline-flex;
}

.tagText {
    background-color: hsl(180, 52%, 96%);
    border-radius: 0.25rem 0 0 0.25rem;
    color: hsl(180, 29%, 50%);
    font-weight: bold;
    padding: 0.25em 0.5em;
}

.tagRemove {
    background-color: hsl(180, 29%, 50%);
    border-radius: 0 0.25rem 0.25rem 0;
    cursor: pointer;
    display: flex;
    padding: 0.5em;
    place-items: center;
}

.tagRemove:hover {
    background-color: hsl(180, 14%, 20%);
}

.clearFilter {
    cursor: pointer;
    font-size: 1.25em;
    color: hsl(180, 8%, 52%);
}

.clearFilter:hover {
    color: hsl(180, 29%, 50%);
    text-decoration: underline;
}